<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Administrador</title>
</head>
<body>
    
    <nav>

        <ul style="display: inline-block;">

            <li> <a href="/sneakerList"> Logo </a> </li>
            <li> <a href="/adminList"> Administradores </a> </li>
            <li> <a href="/sneakerList"> Productos </a> </li>
            <li> <a href="#"> Salir </a> </li>

        </ul>

    </nav>

    <% if(typeof admin != 'undefined'){ %>

        <form id="editAdmin" name="editAdminForm" action="/update-admin/<%= admin.id %>" method="POST">

            <input type="text" name="user" placeholder="Escriba el nuevo usuario" value="<%= admin.user %>" />

            <input type="password" name="password" />

            <input type="submit" value="Actualizar" />

        </form>

    <% } %>

</body>
</html>