<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneaker App</title>
</head>
<body>
    
    <div class="login-page">

        <h2>Inicia Sesión</h2>
        <form name="login-form" id="login-form" action="/" method="POST">

            <input type="text" name="user" placeholder="Escriba el nombre de usuario"/>
           
            <% if(typeof errorL != 'undefined'){ %>

                <p> <%= errorL %> </p>

            <% } %>

            <input type="password" name="password" placeholder="Escriba la contraseña"/>

            <input type="submit" value="Iniciar Sesión"/>

            <% if(typeof errorLogin != 'undefined' && errorLogin.length > 0){ %>

                <p> <%= errorLogin %> </p>

            <% } %>

        </form>

    </div>

</body>
</html>